.navbar {
  display: flex;
  align-items: center;
  background-color: #ffffff00;
  border-bottom: 3px solid rgba(255, 255, 255, 0.226);
}

.container-fluid {
  display: flex;
  color: rgb(255, 255, 255);
  align-items: center;
  flex-direction: row;
}
.container-fluid1 {
  display: flex;
  user-select: none;
  align-items: center;
  cursor: pointer;
}
.usernameSpan {
  user-select: none;
  cursor: pointer;
}
