.inputContainer {
  position: relative;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 300px;
}
.invalid-feedback {
  display: flex;
  height: 10px;
  font-size: 12px;
}
.input {
  width: 200px;
}
.inputLabel {
  margin-bottom: 5px;
  color: var(--lbColor);
}
